.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #c535ff;
  line-height: 1.2rem;
  text-shadow: -1px 1px 2px #70ff50;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.reaction {
  color: #70ff50;
  text-shadow: -2px 2px 2px #c535ff;
  font-family: Georgia, "Times New Roman", Times, serif;
}
